/pdbs/
/excel/
/lib/
/bin/
/share/
/include/
/etc/
/fastas/
/jsons/
/graphs/
/features/
/results/
/pdb_validator/
/protein_bank_pdbs/
/new_encodings/results/
/matches/
/chains/
/retinas/
/aligned_pdbs/
/retina_pdbs/
pyvenv.cfg
model.pckl
log
/cutted_parts/
/splits/
/pickles/
/wandb/
/.venv/
/runs/
/build/
/dist/
Makefile
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
*.cbp
*.a
*.egg-info/
__pycache__/
*.py[cod]
pipeline_auto/cutted_parts/
pipeline_auto/dists/
pipeline_auto/features/
pipeline_auto/mafft_alignments/
/*graph*/
slurm*
*.pckl
